body
{
    margin-top: 2%;
}
.box
{
    padding-left: 10%;
    width: 90%;
    height: 80%;
}

#text
{
    color: brown;
    text-align: center;
}

h6
{
    margin-top: 2%;    
    margin-left: 22%;
    /* color: deeppink; */
    text-align: justify;
}